@CHARSET "ISO-8859-1";

h1{
	text-align: center;
	background-color: orange;
	border: 20px solid orange;
}

h2{
	text-align: center;
}
#footer{
	text-align: center;	
	background-color: orange;
	border: 20px solid orange;
}

#foot{
	background-color: orange;
	border: 20px solid orange;
}

#header2{
	background-color: green;
	border: 20px solid green;
}

#lcode{
	text-align: right;
	color: blue;
}

#tab1{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-color: red;
	
}

#tab2{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-color: red;
}

#tab3{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-color: red;
}